################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PubsMartes/.vs/PubsMartes/FileContentIndex/0949510a-45d1-4ffc-92d2-5380952867fc.vsidx
