################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PubsMartes/.vs/PubsMartes/FileContentIndex/0949510a-45d1-4ffc-92d2-5380952867fc.vsidx
/PubsMartes/.vs/PubsMartes/FileContentIndex/0bea6098-dd9a-45b5-b95a-cea09837eb61.vsidx
/PubsMartes/.vs/PubsMartes/FileContentIndex/22099b60-a4fa-40ee-9a76-09f3a22eecfa.vsidx
/PubsMartes/.vs/PubsMartes/FileContentIndex/3fd0432f-3cdc-4f65-bc01-8f1dcca2edbd.vsidx
/PubsMartes/.vs/PubsMartes/FileContentIndex/63149385-d7f4-4428-99f3-2f5a32f79d82.vsidx
